{% extends 'base.html' %}
{% load staticfiles %}


{% block heading %}
<h2 class="form-signin-heading">Please sign in</h2>
{% endblock %}

{% block description %}
<div class="container">
    <form class="form-signin" role="form" method="post" action="/reminder/signin/">
        {% csrf_token %}
        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
        <div class="checkbox">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label> 
        <p>No Account? <a href="{% url 'signup' %}">Register</a></p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"/>Sign in</button>

    </form>    
    <input type="hidden" name="next" value="{{ next }}" />
</div>

{% endblock %}

{% block body %}{% endblock %}
