{% extends 'base.html' %}
{% load staticfiles %}


{% block heading %}
<h2 class="form-signin-heading">Please sign up</h2>
{% endblock %}

{% block description %}
<div class="container">
    <form class="form-signin" role="form" method="post" action="/reminder/signup/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}

{% block body %}{% endblock %}