<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>Birthday Reminder</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/signin.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          {% block menu %}
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'usesystem' %}">Use</a></li>
            <!-- {% if username %}
              <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li role="presentation"><a href="{% url 'signin' %}">Sign in</a></li>
            {% endif %} -->
            <li role="presentation"><a href="{% url 'about' %}">About</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          {% endblock %}
        </nav>
        <h3 class="text-muted">{% block project_name %}<a href="{% url 'index' %}">Birthday Reminder System{% endblock %}</a></h3>
      </div>

      <div class="jumbotron">
        {% block heading %}<h1>Birthday Reminder</h1>{% endblock %}
        {% block body %}
        <p class="lead text-left-align">{% if username %}Welcome, <strong>{{ username}}</strong>. {% endif %}This is a birthday reminder system authorized by <a href="https://www.drchrono.com">Drchrono</a> API. You can use this system to send Happy Birthday information to your patients. {% if not username %}If you want to use this system, please sign in or sign up with Drchrono in the following. {% endif %}</p>
        <p>
          {% if username %}
            <a class="btn btn-lg btn-success" href="{% url 'usesystem' %}" target="_self" title="Drchrono">Use this system Now</a>
          {% else %}
            <a class="btn btn-lg btn-default" href="{% url 'signin' %}" role="button">Sign in</a> 
            <a class="btn btn-lg btn-success" href="{% url 'signup' %}" role="button">Sign up</a>
          {% endif %}
        </p>
        {% endblock %}
      </div>

      <footer class="footer">
        <p>&copy; 2016 Yinan Xu</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
