{% extends 'base.html' %}
{% load staticfiles %}

{% block heading %}
    <h2>Contact</h2>
{% endblock %}



{% block body %}
    
    <p class="lead text-left-align">{% if username %}Welcome, <strong>{{ username}}</strong>. {% endif %}Please submit your information. We will contact you soon.</p>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        <div class="form-group label-left-align">
            <!-- Name -->
            <label class="control-label" for="name">Your name</label>
            <input id="textinput" name="name" type="text" placeholder="Enter your name" class="form-control" required="">  
            <br/>

            <!-- Email -->
            <label class="control-label label-left-align" for="textinput">Your e-mail (optional):</label>
            <input id="textinput" name="email" type="email" placeholder="Enter your email address" class="form-control">
            <br/>

            <!-- Subject -->
            <label class="control-label label-left-align" for="textinput">Subject</label>
            <input id="textinput" name="subject" type="text" placeholder="What do you want to talk about?" class="form-control" required="">
            <br/>

            <!-- Message -->
            <label class="control-label" for="textarea" >Message</label>
            <textarea rows="10" cols="70" id="textarea" name="message" class="form-control" placeholder="Type your message here."></textarea>
        </div>

        <!-- Button -->
        <button class="btn btn-lg btn-default" type="submit" value="Submit">Submit</button>
    </form>
{% endblock %}

