{% extends 'base.html' %}
{% load staticfiles %}

{% block heading %}
    <h2>Send {% if birthday_flag %}Birthday{% else %}Custom{% endif %} Email Done</h2>
{% endblock %}

{% block body %}
    
    {% if patients_with_email %}

        <p class="lead text-left-align">
            {% if birthday_flag %}
                The birthday reminder emails have been sent to your chosen patients in the following:
            {% else %}
                The email has been sent to your chosen patients in the following:
            {% endif %}
        </p>
        <ul>
            {% for patient in patients_with_email %}
            <li><p class="lead text-left-align">{{ patient }}</p></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if patients_without_email %}
        <p class="lead text-left-align">But the following patients have no email, we cannot send emails: </p>
        <ul>
            {% for patient in patients_without_email %}
            <li><p class="lead text-left-align">{{ patient }}</p></li>
            {% endfor %}
        </ul>
    {% endif %}

    <p class="lead text-left-align">Thank you. </p>
{% endblock %}

